{% extends "base/base.html"%}
{% load staticfiles %}
{% block title %} 运维后台管理系统 {% endblock %}
{% block my_css %}
<link rel="stylesheet" href="{% static "assets/plugins/dataTables/css/dataTables.css" %}">
{% endblock %}

<!-- Page Breadcrumb -->
{% block breadcrumbs %}
<div class="page-breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#">首页</a>
		</li>
		<li>
			<a href="#">系统管理</a>
		</li>
		<li class="active">装机列表</li>
	</ul>
</div>
{% endblock %}
<!-- /Page Breadcrumb -->


<!-- Page Header -->
{% block page_header %}
<div class="page-header position-relative">
	<div class="header-title">
		<h1>
                           装机列表
        </h1>
	</div>
	<!--Header Buttons-->
	<div class="header-buttons">
		<a class="sidebar-toggler" href="#">
			<i class="fa fa-arrows-h"></i>
		</a>
		<a class="refresh" id="refresh-toggler" href="">
			<i class="glyphicon glyphicon-refresh"></i>
		</a>
		<a class="fullscreen" id="fullscreen-toggler" href="#">
			<i class="glyphicon glyphicon-fullscreen"></i>
		</a>
	</div>
	<!--Header Buttons End-->
</div>
{% endblock %}
<!-- /Page Header -->


<!-- Page Body -->
{% block page_body %}
<div class="page-body">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                 <div class="panel panel-default">
                      <div class="panel-body">
                           {% if all_system_list %}
                           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                               <thead>
                                   <tr>
                                      <th>ID</th>
                                      <th>IP地址</th>
                                      <th>主机名</th>
                                      <th>MAC地址</th>
                                      <th>操作系统</th>
                                      <th>操作</th>
                                   </tr>
                               </thead>

                               <tbody>
                               {% for system_list in all_system_list %}
                                   <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td>{{ system_list.ip }}</td>
                                      <td>{{ system_list.hostname }}</td>
                                      <td>{{ system_list.macaddress }}</td>
                                      <td>{{ system_list.system_version }}</td>
                                      <td><a href="{% url 'install_manage' id=system_list.id %}" class="btn btn-info btn-sm">编辑</a>
                                          <a href="/install/system_install/?ip={{ system_list.ip }}&host={{ system_list.hostname }}&mac={{ system_list.macaddress }}&ver={{ system_list.system_version }}" style="color:white" class="btn btn-danger btn-sm" role="button">安装</a>
                                      </td>
                                   </tr>
                               {% endfor %}
                               </tbody>
                            </table>
                           {% endif %}
                           <div class="row">
                                <div class="col-xs-6">
                                      <div class="dataTables_info" id="example_info" role="alert" aria-live="polite" aria-relevant="all"></div>
                                </div>
                                <div class="col-xs-6">
                                      <div class="dataTables_paginate paging_simple_numbers" id="exmaple_paginate">
                                           {% if all_system_list.has_previous %}
                                                 <a href="?page={{ all_system_list.previous_page_number }}">上一页</a>
                                           {% endif %}
                                           <span class="current">
                                                 第{{ all_system_list.number }}页，共{{ all_system_list.paginator.num_pages }}页
                                           </span>
                                           {% if all_system_list.has_next %}
                                                 <a href="?page={{ all_system_list.next_page_number }}">下一页</a>
                                           {% endif %}
                                      </div>
                                </div>
                           </div> <!--row end-->
                        </div>
                     </div>
                 </div>
		</div>
	</div>
</div>
{% endblock %}
<!-- /Page Body -->

<!--Page Related Scripts-->
{% block page_rateled %}

<!--index page only js -->
    <!-- <script src="{% static "assets/js/jquery-2.0.3.min.js" %}"></script> -->


<!--index page only script -->
<script>
</script>
{% endblock %}
<!--Page Related Scripts-->
