{% extends "base/base.html"%}
{% load staticfiles %}
{% block title %} 运维后台管理系统 {% endblock %}

<!-- Page Breadcrumb -->
{% block breadcrumbs %}
<div class="page-breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">仪表</li>
	</ul>
</div>
{% endblock %}
<!-- /Page Breadcrumb -->


<!-- Page Header -->
{% block page_header %}
<div class="page-header position-relative">
	<div class="header-title">
		<h1>
                            仪表
        </h1>
	</div>
	<!--Header Buttons-->
	<div class="header-buttons">
		<a class="sidebar-toggler" href="#">
			<i class="fa fa-arrows-h"></i>
		</a>
		<a class="refresh" id="refresh-toggler" href="">
			<i class="glyphicon glyphicon-refresh"></i>
		</a>
		<a class="fullscreen" id="fullscreen-toggler" href="#">
			<i class="glyphicon glyphicon-fullscreen"></i>
		</a>
	</div>
	<!--Header Buttons End-->
</div>
{% endblock %}
<!-- /Page Header -->


<!-- Page Body -->
{% block page_body %}
<div class="page-body">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="databox radius-bordered databox-shadowed databox-graded">
						<div class="databox-left bg-themesecondary">
							<div class="databox-piechart">
								<div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">50%</span></div>
							</div>
						</div>
						<div class="databox-right">
							<span class="databox-number themesecondary">14</span>
							<div class="databox-text darkgray">NEW TASKS</div>
							<div class="databox-stat themesecondary radius-bordered">
								<i class="stat-icon icon-lg fa fa-tasks"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="databox radius-bordered databox-shadowed databox-graded">
						<div class="databox-left bg-themethirdcolor">
							<div class="databox-piechart">
								<div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.2)"><span class="white font-90">15%</span></div>
							</div>
						</div>
						<div class="databox-right">
							<span class="databox-number themethirdcolor">1</span>
							<div class="databox-text darkgray">NEW MESSAGE</div>
							<div class="databox-stat themethirdcolor radius-bordered">
								<i class="stat-icon  icon-lg fa fa-envelope-o"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="databox radius-bordered databox-shadowed databox-graded">
						<div class="databox-left bg-themeprimary">
							<div class="databox-piechart">
								<div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">76%</span></div>
							</div>
						</div>
						<div class="databox-right">
							<span class="databox-number themeprimary">98</span>
							<div class="databox-text darkgray">NEW USERS</div>
							<div class="databox-state bg-themeprimary">
								<i class="fa fa-check"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="databox radius-bordered databox-shadowed databox-graded">
						<div class="databox-left no-padding bordered-left-2 bordered-palegreen">
							<img src="{% static "assets/img/avatars/John-Smith.jpg" %}" style="width:65px; height:65px;">
						</div>
						<div class="databox-right padding-top-20">
							<div class="databox-stat palegreen">
								<i class="stat-icon icon-xlg fa fa-phone"></i>
							</div>
							<div class="databox-text darkgray">JOHN SMITH</div>
							<div class="databox-text darkgray">TOP RESELLER</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	</div>

	<div class="row">
	</div>
	<div class="row">

	</div>
</div>
{% endblock %}
<!-- /Page Body -->

<!--Page Related Scripts-->
{% block page_rateled %}
<!--index page only js-->

<!--index page only include js-->
<!--Sparkline Charts Needed Scripts-->
<script src="{% static "assets/js/charts/sparkline/jquery.sparkline.js" %}" ></script>
<script src="{% static "assets/js/charts/sparkline/sparkline-init.js" %}" ></script>

<!--Easy Pie Charts Needed Scripts-->
<script src="{% static "assets/js/charts/easypiechart/jquery.easypiechart.js" %}" ></script>
<script src="{% static "assets/js/charts/easypiechart/easypiechart-init.js" %}" ></script>

<!--Flot Charts Needed Scripts-->
<script src="{% static "assets/js/charts/flot/jquery.flot.js" %}" ></script>
<script src="{% static "assets/js/charts/flot/jquery.flot.resize.js" %}" ></script>
<script src="{% static "assets/js/charts/flot/jquery.flot.pie.js" %}" ></script>
<script src="{% static "assets/js/charts/flot/jquery.flot.tooltip.js" %}" ></script>
<script src="{% static "assets/js/charts/flot/jquery.flot.orderBars.js" %}" ></script>

<!--index page only script -->
<script>
	// If you want to draw your charts with Theme colors you must run initiating charts after that current skin is loaded
	$(window).bind("load", function() {

		/*Sets Themed Colors Based on Themes*/
		themeprimary = getThemeColorFromCss('themeprimary');
		themesecondary = getThemeColorFromCss('themesecondary');
		themethirdcolor = getThemeColorFromCss('themethirdcolor');
		themefourthcolor = getThemeColorFromCss('themefourthcolor');
		themefifthcolor = getThemeColorFromCss('themefifthcolor');

		//Sets The Hidden Chart Width
		$('#dashboard-bandwidth-chart')
			.data('width', $('.box-tabbs')
				.width() - 20);

		//-------------------------Visitor Sources Pie Chart----------------------------------------//
		var data = [{
			data: [
				[1, 21]
			],
			color: '#fb6e52'
		}, {
			data: [
				[1, 12]
			],
			color: '#e75b8d'
		}, {
			data: [
				[1, 11]
			],
			color: '#a0d468'
		}, {
			data: [
				[1, 10]
			],
			color: '#ffce55'
		}, {
			data: [
				[1, 46]
			],
			color: '#5db2ff'
		}];
		var placeholder = $("#dashboard-pie-chart-sources");
		placeholder.unbind();

		$.plot(placeholder, data, {
			series: {
				pie: {
					innerRadius: 0.45,
					show: true,
					stroke: {
						width: 4
					}
				}
			}
		});

		//------------------------------Visit Chart------------------------------------------------//
		var data2 = [{
			color: themesecondary,
			label: "Direct Visits",
			data: [
				[3, 2],
				[4, 5],
				[5, 4],
				[6, 11],
				[7, 12],
				[8, 11],
				[9, 8],
				[10, 14],
				[11, 12],
				[12, 16],
				[13, 9],
				[14, 10],
				[15, 14],
				[16, 15],
				[17, 9]
			],

			lines: {
				show: true,
				fill: true,
				lineWidth: .1,
				fillColor: {
					colors: [{
						opacity: 0
					}, {
						opacity: 0.4
					}]
				}
			},
			points: {
				show: false
			},
			shadowSize: 0
		}, {
			color: themeprimary,
			label: "Referral Visits",
			data: [
				[3, 10],
				[4, 13],
				[5, 12],
				[6, 16],
				[7, 19],
				[8, 19],
				[9, 24],
				[10, 19],
				[11, 18],
				[12, 21],
				[13, 17],
				[14, 14],
				[15, 12],
				[16, 14],
				[17, 15]
			],
			bars: {
				order: 1,
				show: true,
				borderWidth: 0,
				barWidth: 0.4,
				lineWidth: .5,
				fillColor: {
					colors: [{
						opacity: 0.4
					}, {
						opacity: 1
					}]
				}
			}
		}, {
			color: themethirdcolor,
			label: "Search Engines",
			data: [
				[3, 14],
				[4, 11],
				[5, 10],
				[6, 9],
				[7, 5],
				[8, 8],
				[9, 5],
				[10, 6],
				[11, 4],
				[12, 7],
				[13, 4],
				[14, 3],
				[15, 4],
				[16, 6],
				[17, 4]
			],
			lines: {
				show: true,
				fill: false,
				fillColor: {
					colors: [{
						opacity: 0.3
					}, {
						opacity: 0
					}]
				}
			},
			points: {
				show: true
			}
		}];
		var options = {
			legend: {
				show: false
			},
			xaxis: {
				tickDecimals: 0,
				color: '#f3f3f3'
			},
			yaxis: {
				min: 0,
				color: '#f3f3f3',
				tickFormatter: function(val, axis) {
					return "";
				},
			},
			grid: {
				hoverable: true,
				clickable: false,
				borderWidth: 0,
				aboveData: false,
				color: '#fbfbfb'

			},
			tooltip: true,
			tooltipOpts: {
				defaultTheme: false,
				content: " <b>%x May</b> , <b>%s</b> : <span>%y</span>",
			}
		};
		var placeholder = $("#dashboard-chart-visits");
		var plot = $.plot(placeholder, data2, options);

		//------------------------------Real-Time Chart-------------------------------------------//
		var data = [],
			totalPoints = 300;

		function getRandomData() {

			if(data.length > 0)
				data = data.slice(1);

			// Do a random walk

			while(data.length < totalPoints) {

				var prev = data.length > 0 ? data[data.length - 1] : 50,
					y = prev + Math.random() * 10 - 5;

				if(y < 0) {
					y = 0;
				} else if(y > 100) {
					y = 100;
				}

				data.push(y);
			}

			// Zip the generated y values with the x values

			var res = [];
			for(var i = 0; i < data.length; ++i) {
				res.push([i, data[i]]);
			}

			return res;
		}
		// Set up the control widget
		var updateInterval = 100;
		var plot = $.plot("#dashboard-chart-realtime", [getRandomData()], {
			yaxis: {
				color: '#f3f3f3',
				min: 0,
				max: 100,
				tickFormatter: function(val, axis) {
					return "";
				}
			},
			xaxis: {
				color: '#f3f3f3',
				min: 0,
				max: 100,
				tickFormatter: function(val, axis) {
					return "";
				}
			},
			colors: [themeprimary],
			series: {
				lines: {
					lineWidth: 0,
					fill: true,
					fillColor: {
						colors: [{
							opacity: 0.5
						}, {
							opacity: 0
						}]
					},
					steps: false
				},
				shadowSize: 0
			},
			grid: {
				hoverable: true,
				clickable: false,
				borderWidth: 0,
				aboveData: false
			}
		});

		function update() {

			plot.setData([getRandomData()]);

			plot.draw();
			setTimeout(update, updateInterval);
		}
		update();

		//-------------------------Initiates Easy Pie Chart instances in page--------------------//
		InitiateEasyPieChart.init();

		//-------------------------Initiates Sparkline Chart instances in page------------------//
		InitiateSparklineCharts.init();
	});
</script>
{% endblock %}
<!--Page Related Scripts-->
