<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{% block title %} Dashboard - Ace Admin {% endblock %}</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		{% include "base/base_css.html" %}
		{% block my_css %}{% endblock %}

	</head>

	<body class="skin-2">
		<!-- #section:basics/navbar.layout -->
		<!-- 1,导航条 -->
		{% include "base/base_navbar.html" %}
		<!-- /section:basics/navbar.layout -->
		<div class="main-container ace-save-state my-main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<!-- #section:basics/sidebar -->
			<!-- 2.1左边侧边栏 -->
			{% include "base/base_sidebar.html" %}

			<!-- /section:basics/sidebar -->
			<!-- 2.2 右边主要内容区域 -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<!-- 2.2.1 面包屑导航 -->
					{% block breadcrumbs %}{% endblock %}
					<!-- 2.2.2 右边页面内容 -->
					<div class="page-content ">
						<!-- #section:settings.box -->
						<!--设置框-->
						<!-- 2.2.2.1 页面头 -->
						{% block page-header %}{% endblock %}
						<!-- /section:settings.box -->
						<!-- 2.2.2.2 正文主体 -->

						<!--PAGE CONTENT BEGIN-->
						{% block page-body %}{% endblock %}
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			{% include "base/base_footer.html" %}

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		{% include "base/base_js.html" %}
		{% block my_js %}{% endblock %}
	</body>
</html>
