/*h1等不换行*/
.mynoline{
	display : inline;
}

.ace-nav > li > a {
    background-color: #c6487e;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #c6487e;
    border-color: #337ab7;
}
.ace-nav > li > a:hover, .ace-nav > li > a:focus, .ace-nav > li.open > a {
    background-color: #d15b47;
    color: #333;
}
.my-main-container{
	padding-top: 45px;
}
.skin-2 .breadcrumbs {
  border-radius: 0px;
  margin: 0;
}
.page-content {
    margin-left: 0;
}
@media (min-width: 992px) {
  .skin-2 .breadcrumbs.breadcrumbs-fixed + .page-content {
    padding-top: 41px;
  }
}

